*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/*Header styling*/
header{
background-color: rgb(226, 222, 222);
padding: 20 px;
font-family: sans-serif;
}
/*navbar styling*/
.navbar ul{
background-color: rgb(56, 55, 55);
list-style-type: none;
display: flex;
padding: 10px;
}
.navbar ul li{
margin: 0 15px;
}
.navbar ul li a{
text-decoration: none;
color: white;
font-weight: bold;
}
.navbar ul li a:hover{
color: rgb(253, 171, 185);
}
/*Header content styling*/
.header-content{
    padding-top: 10px;
    padding-bottom: 30px;
}
.first-heading{
font-size: 36px;
color: #333;
}
.first-para{
font-size: 18px;
margin: 20px;
color: #666;
}


